.change_btn
  =link_to new_message_path, style:'text-decoration:none;color:white' do
    .change_btn__circle
      .change_btn__circle__text
        
      .change_btn__circle__icon
        = fa_icon "adjust", class: "icon fa-5x white"
       