%body
.bg
  .service_name SHINOBI tool1
  
  .result_headding オリジナルテキスト
  .result_text
    = @message.original_text

  .result_headding ローマ字変換
  .result_text
    = @message.zipang_text

  .result_headding 数字変換
  .result_text
    = @message.zipang_to_num