.bg
  = render 'shared/application_logo_height50'
  .main_container_message__create
    .conversion_result_box_container
      .conversion_result_box
        .result_headding Original-text
        .result_text_original
          = @message.original_text
        =link_to ocr_images_path, style:'text-decoration:none' do
          .square_btn_return_top Retun Top

      .conversion_result_box
        .result_headding Roman character
        .result_text_roman
          = @message.zipang_text
        =link_to messages_path, style:'text-decoration:none' do
          .square_btn_copy Copy Encryption

      .conversion_result_box
        .result_headding Encryption
        .result_text_encryption
          = @message.zipang_to_num
        =link_to messages_path, style:'text-decoration:none' do
          .square_btn_decryption Decryption
      
      