.bg 
  = render 'shared/application_logo_height100'
  
  .main_container

    .message_index_area
      =link_to new_message_path, style:'text-decoration:none' do
        .new_message_btn 
          %p2 Conversion 
          %p1 -新規の暗号作成-
      =link_to messages_path, style:'text-decoration:none' do
        .search_message_btn 
          %p2 Decryption
          %p1 -既存の暗号を解読-
        
  

