%body
.bg
  .service_name SHINOBI tool1
  = form_for @message do |original_text_form|
    .original_text_box
    = original_text_form.text_field :original_text, class: "original_text_form", placeholder: "テキストを入力し、Enterを押してください。"
