.message_btn
  =link_to messages_path, style:'text-decoration:none;color:white' do
    .message_btn__circle
      .message_btn__circle__icon
      = image_tag('icon_inyou.svg',class:'icon_inyou')
       