%body
.bg
  .service_name SHINOBI tool1
  .container_box
  = form_for @ocr_image do |ocr_image_form|
    .image_box.box-image-1
    = ocr_image_form.file_field :name ,type:'file'
    .description_text_box
      %h2 Google Cloud Vision API
      %p OCR（光学式文字認識）技術を活用してテキストを検出します。
      = ocr_image_form.submit 'スタート', class:"btn"
      
      
