.application_logo_height50{
  float:center;
  width:800px;
  height:100px;
  margin: 0 auto;  
  font-size: 80px;
  font-family: Avenir Next;
  text-align: center;
  padding: 100px 0 20px 0 ;
  color: white;
}