
*{
  margin:0;
  padding:0;
}


  .main{
    display:block;
    width:30%;
    height:450px;
  }
    
      .textview{
        position: relative;
        top: 0;
        width:310px;
        margin:5px;
        font-size:25px;
        padding:5px;
        border:none;
        color:#607d8b;
      }

      [type="form"]:focus {
        outline: 0;

      }
      .button{
        position: relative;
        top: -26px;
        width: 75px;
        height: 73px;
        font-size:25px;
        margin:2px;
        cursor:pinter;
        text-align: center;
        background:#607d8b;
        border:none;
        color:white;
      }

      [type="button"]:focus {
        outline: 0;
        border: solid 2px #099BE8;
      }

      
    