.square_btn{
  display: block;
  height: 50px;
  width: 300px;
  cursor: pointer;  
  text-align: center;
  margin: 10px auto 0;
  font-size:20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Avenir Next',游ゴシック体,メイリオ;
  background-color: rgba(90, 132, 247, 0.2);
  } 