.bg{
  background:linear-gradient(to right,#e95e1e,#3b81ebcc);
  min-width: 1200px;
  min-height: 960px; 
  }

.service_name{
  display: block;
  width:800px;
  height:100px;
  margin: auto;  
  font-size: 50px;
  font-style: inherit;
  font-family: Impact;
  text-align: center;
  padding-top: 150px;
}

.new_message_btn{
  width:800px;
  height:100px;
  margin: 0 auto;
  background-color:red;
}
.search_message_btn{
  width:800px;
  height:100px;
  margin: 0 auto;
  background-color:blue;
}