.bg{
  background:linear-gradient(to right,#e95e1e,#3b81ebcc);
  min-width: 1200px;
  min-height: 960px; 
  }

  .main_container__message_show{
    display: block;
    width: 100%;
    height: 600px;
    background-color: rgba(236,229, 218,0.3);
  }
    .message_show_area {
      display: flex;
      width: 100%;
      height: 600px;
      justify-content:center;

        .conversion_result_box{
          display: block;
          width: 20%;
          height: 100%;
          margin: 15px;
        }
          .result_headding{
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            font-size: 30px;
            line-height: 50px;
            color: white;
            font-family: Avenir Next;

            }
        
          @mixin result_text{
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 400px;
            font-size: 16px;
            color:white;
            margin: 0 auto 10px;
            text-align: left;
            overflow-wrap: break-word;
            font-family: 'Avenir Next',游ゴシック体,メイリオ;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
          }
                    
          .result_text_original{
            @include result_text;
            background-color:rgba(#e95e1e, 0.8);
          }
          .result_text_roman_reverse{
            @include result_text;
            background:linear-gradient(to right,#3b81ebcc,#E36A3B);
          }
          
          .result_text_encryption{
            @include result_text;
            background-color:rgba(#3b81ebcc, 0.8);
          }

          @mixin square_btn{
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            cursor: pointer;  
            text-align: center;
            margin: 25px 0;
            font-size:20px;
            border: 1px solid white;
            border-radius: 10px;
            color: white;
            line-height: 50px;
            font-family: 'Avenir Next',游ゴシック体,メイリオ;
          }

          .square_btn_return_top{
            @include square_btn;
            background-color:rgba(#e95e1e, 0.8);
          }

          .square_btn_copy_reverse{
            @include square_btn;
            background:linear-gradient(to right,#3b81ebcc,#E36A3B);
          }

          .square_btn_decryption{
            @include square_btn;
            background-color:rgba(#3b81ebcc, 0.8);
          }
        
    }