.calculator_btn
  =link_to message_show_path, style:'text-decoration:none;color:white' do
    .calculator_btn__circle
      .calculator_btn__circle__icon
      = image_tag('icon_inyou.svg',class:'icon_inyou')
       