.ocr_image_btn
  =link_to new_ocr_image_path, style:'text-decoration:none;color:white' do
    .ocr_image_btn__circle
      .ocr_image_btn__circle__icon
      = image_tag('icon_inyou.svg',class:'icon_box')
       